* {
    font-family: "Lucida Grande", Lucida Sans Unicode, Hiragino Sans GB, WenQuanYi Micro Hei, Verdana, Aril, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.main {
    display: flex;
    flex-direction: column;
}

.main textarea {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    width: 90%;
    height: 400px;
    margin: 10px auto 10px auto;
}

.main .error-message {
    width: 90%;
    color: red;
    margin: 10px auto 10px auto;
}

.main table {
    border-collapse: collapse;
    display: inline-block;
    margin: 5px;
}

.main button {
    height: 30px;
    width: 90%;
    margin: 10px auto 10px auto;
    cursor: pointer;
}

.main th,
.main td {
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    height: 30px;
}

.main .result {
    margin: 10px auto 10px auto;
}

.generate-matches {
    display: flex;
    flex-direction: column;
}

.generate-matches textarea {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    width: 90%;
    height: 200px;
    margin: 10px auto 10px auto;
}

.generate-matches .error-message {
    width: 90%;
    color: red;
    margin: 10px auto 10px auto;
}

.generate-matches button {
    height: 30px;
    width: 90%;
    margin: 10px auto 10px auto;
    cursor: pointer;
}
